.collapse-container {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.collapse-card {
    width: 100%;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 5px;
}

.collapse-card h3 {
    padding: 30px;
}

.collapse-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b75000;
    color: white;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.npc-author {
    color: white;
}

.npc-author a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 1000px) {

    .collapse-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .collapse-card {
        width: 45%;
    }
}