.collapse-container {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.collapse-card {
    width: 100%;
    margin-bottom: 50px;
    background-color: seashell;
}

.collapse-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5da9e9ff;
    width: 100%;
}