.statistique-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px black solid;
    background-color: white;
    border-radius: 5px;
    border-radius: 10px;
}

.statistique-title {
    width: 100%;
    background-color: #b75000;
    padding-left: 15px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}


.stat-unite {
    margin-left: 25px;
    margin-right: 25px;
}

.circle-unite {
    width: 25px;
    height: 25px;
}